@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg-modal: 243 243 244;
        --color-matteBlack: 0 0 0;
        --color-matteGray: 209 213 219;
    }
}
body {
    color: #333333;
    background-color: #f0f2f5;
    font-size: 15px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
.a::-webkit-scrollbar-thumb {
    background: transparent;
}
.a:hover::-webkit-scrollbar-thumb {
    background: #ccc;
}
